#sidebar {
    width: 280px;
    position: fixed;
    height: 100%;
    margin-top: -15px;
    margin-right: 20px;
    padding-left: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-y: scroll;
    box-shadow: 0 0 40px #CCC;
    -webkit-box-shadow: 0 0 40px #CCC;
    -moz-box-shadow: 0 0 40px #CCC;
    border-right: 1px solid #BBB;
}

#sidebar p {
  font-size: 14px;
}
#sidebar p a {
  font-size: 14px;
  text-decoration: none;
}

#sidebar h1 a {
  padding-left: 27px;
  font-size: 25px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: Verdana, Arial;
}

#sidebar .class {
  // height: 18px;
}
#sidebar .class span {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  background: #AAA;
  color: #fff;
  border-radius: 2px;
  padding: 0px 5px;
  line-height: 18px;
  min-width: 15px;
  text-align: center;
  cursor: pointer;
}

#sidebar .class span:hover {
  background: #4682BE;
}

#sidebar .class .selected {
  background: #4682BE;
}

#sidebar .re-button {
  font-size: 12px;
  margin-left: 85px;
  text-decoration: none;
}

#sidebar .visitor_post_btn {
  font-size: 12px;
  margin-left: 0px;
  background: #AAA;
  color: #fff;
  border-radius: 2px;
  padding: 0px 5px;
  line-height: 18px;
  min-width: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

#sidebar .visitor_post_btn:hover {
  background: #4682BE;
}

#sidebar ol {
    margin: 0;
    padding-left: 30px;
    padding-top: 0;
    font-size: 13px;
}

#sidebar ol li {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 0;
    padding-left: 8px;
    text-indent: -5px;
}

#sidebar ol li a {
  font-size: 13px;
  color: #4682BE;
  font-size: 13px;
  cursor:pointer;
}

#sidebar .update-btn {
  // color: #000;
  font-size: 12px;
  float: right;
  margin-right: 15px;
}

#content {
  width: 100%;
  padding-left: 320px;
  height: 100%;
}